*.test
.DS_Store
/*.pdf
/*.pprof
/*.txt
/.idea/
/.vscode/
/dist/
/golangci-lint
/test/path
/tools/Dracula.itermcolors
/tools/dist/
/tools/godownloader
/tools/goreleaser
/tools/node_modules
/tools/svg-term
/vendor/
coverage.out
coverage.xml
