/*.txt
/*.pdf
/*.pprof
/dist/
/tools/dist/
/.idea/
/test/path
/golangci-lint
/tools/Dracula.itermcolors
/tools/godownloader
/tools/goreleaser
/tools/node_modules
/tools/svg-term
/.vscode/
*.test
.DS_Store
