sudo: false
language: go
go:
  - 1.9.x
  - 1.10.x
script: make check_generated test

after_success:
  - test -n "$TRAVIS_TAG" && docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

# needed for the docker pipe
services:
- docker

deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_GO_VERSION =~ ^1\.10\.[0-9]+$