name: Check Documentation

on:
  pull_request:

jobs:

  doc:
    name: Build documentation
    runs-on: ubuntu-latest
    env:
      # https://github.com/actions/setup-go#supported-version-syntax
      # ex:
      # - 1.18beta1 -> 1.18.0-beta.1
      # - 1.18rc1 -> 1.18.0-rc.1
      GO_VERSION: '1.23'
      NODE_VERSION: '20.x'
      CGO_ENABLED: 0

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: docs/package-lock.json

      - run: go mod download

      - run:  npm install --legacy-peer-deps
        working-directory: ./docs

      - name: Build Documentation
        run: npm run build
        working-directory: ./docs
